#landing-page-main {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all var(--def-transition) ease-in-out;
}

/* Toggles visibility based on the sketch-type of the active P5-Sketch */
#landing-page-main.shown {
  opacity: 1;
  pointer-events: auto;
}

#landing-page-main.hidden {
  opacity: 0;
  pointer-events: none;
}

/* blurs busy sketch background to fovus on UI & results */
#landing-page-background-mask {
  inset: 0;
  position: absolute;
  backdrop-filter: blur(3px);
}

#landing-page-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  min-width: fit-content;
  white-space: nowrap;
}

#landing-page-search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  min-width: fit-content;
  white-space: nowrap;
}

#landing-page-title {
  font-size: var(--xxl-font);
  text-shadow: var(--def-shadow);
}

#landing-page-wikidata-link {
  font-size: var(--xxl-font);
  text-shadow: var(--def-shadow);
  text-decoration: none;
  color: rgb(var(--blue));
  transition: all var(--def-transition) ease-in-out;
}

#landing-page-wikidata-link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 15px rgb(var(--blue), 0.5);
  font-size: calc(var(--xxl-font) * 1.05);
  cursor: pointer;
}
