#search-results-container {
  position: absolute;
  top: calc(45% + 100px);
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-height: calc(100% - 60%);
  background-color: rgb(var(--white), 0.2);
  border: 2px solid rgba(var(--blue));
  border-radius: var(--border-rad);
  overflow-y: auto;
  transition:
    opacity var(--def-transition),
    pointer-events var(--def-transition);
}
#search-results-container.show-results {
  opacity: 1;
  pointer-events: auto;
}
#search-results-container.hide-results {
  opacity: 0;
  pointer-events: none;
}

#search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* remove bottom border from last element in scrollable list to prevent double */
.search-result-item:last-child {
  border-bottom: none;
}
