body {
  width: 100vw;
  height: 100vh;
  overflow: clip;
}
/* Main Layout - primary content in (2, 5, 8) */
/* [1-3] :: "Navbar" */
/* [4-6] :: "Main" */
/* [7-9] :: "Footer" */
#wikiverse-grid-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.85fr 8.3fr 0.85fr;
  grid-template-rows: 0.75fr 8.5fr 1fr;
}

@media (max-width: 1024px) {
  #wikiverse-grid-layout {
    grid-template-columns: 1fr;
  }

  /* removes bumper containers from sides on smaller screens */
  #wikiverse-grid-layout > *:nth-child(1),
  #wikiverse-grid-layout > *:nth-child(3),
  #wikiverse-grid-layout > *:nth-child(4),
  #wikiverse-grid-layout > *:nth-child(6),
  #wikiverse-grid-layout > *:nth-child(7),
  #wikiverse-grid-layout > *:nth-child(9) {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #wikiverse-grid-layout {
    grid-template-columns: 0.5fr 9fr 0.5fr;
  }
}

@media (min-width: 1441px) {
  #wikiverse-grid-layout {
    grid-template-columns: 0.85fr 8.3fr 0.85fr;
  }
}
