.search-result-item {
  display: inline-flex;
  width: 100%;
  color: rgb(var(--white));
  border-bottom: 2px solid rgb(var(--blue));
  transition: all var(--def-transition) ease-in-out;
}

.search-result-item:hover {
  background-color: rgba(var(--white), 0.2);
  box-shadow: 0 0 15px rgba(var(--blue), 0.5);
}

.search-result-icon {
  height: var(--xxl-font);
  padding-right: 0.5rem;
}

.search-result-link {
  display: flex;
  align-items: center;
}

.search-result-title {
  font-weight: bold;
  font-size: var(--sm-font);
  padding-right: 0.5rem;
  letter-spacing: -0.03rem;
  white-space: nowrap;
  text-shadow: var(--def-shadow);
}

.search-result-description {
  font-size: var(--xs-font);
  color: rgb(var(--white), 0.5);
}
