@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Code Pro";
  src: url("./SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  font-family: "Source Code Pro", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --def-transition: 350ms;
  --err-transition: 820ms;
  /* Font Size Constants */
  --xxs-font: clamp(0.625rem, 0.75vw, 0.875rem);
  --xs-font: clamp(0.75rem, 1vw, 1rem);
  --sm-font: clamp(0.875rem, 1.5vw, 1.25rem);
  --md-font: clamp(1rem, 2vw, 1.5rem);
  --lg-font: clamp(1.25rem, 2.5vw, 2rem);
  --xl-font: clamp(1.5rem, 3vw, 2.5rem);
  --xxl-font: clamp(2rem, 4vw, 3rem);
  --h1-font: clamp(2.5rem, 5vw, 3.5rem);
}
